###############
#  temp files #
###############
*.o
*.tmp
*.ini
*.log
app/gpio/gpio
app/mbox/mbox
lib/slib/libdebug.a
lib/slib/libdisplay.a
lib/slib/libframebuf.a
lib/slib/libgpio.a
lib/slib/libi2c.a
lib/slib/libmsg.a
lib/slib/librtc.a
lib/slib/libserialcom.a
lib/slib/libtemperature.a
lib/slib/libav_engine_if.a
lib/slib/libcrc32.a
lib/slib/libft_Font.a
lib/slib/libimgdec.a
lib/slib/libnetwork.a
lib/slib/libproduct.a

###############
#    floder   #
###############
